* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAF3E1;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #213C51;
}

main {
    max-width: 500px;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: rgb(173, 173, 173);
    color: crimson; 
    padding: 1rem;
}

h1 {
    color: #213C51;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #213C51; 
    padding-bottom: 5px;
}

form {
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #111;
}

input, textarea, select {
    padding: .75rem;
    width: 350px;
}

button {
    width: 350px;          /* makes button same size as inputs */
    padding: .75rem;       /* matches input padding */
    background-color: navy;
    color: #fff;
    margin: 1rem auto 0;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

code {
    display: block;
    background-color: #000;
    color: #fff;
    padding: .5rem;
}

.box {
    margin: 1rem auto; /*adding the auto makes the form to center*/
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}
