* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*This code * prevents any layout issues */
}

body {
    background-color: #FAF3E1;
    /* This code will apply the page background color */
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #213C51;
    /* This will help set the main text color*/
}

header {
    background-color: #FAF3E1;
    /* This color matches the body background for a smooth blend */
    padding: 10px;
    text-align: left;
    /* This code keeps the navigation bar text staying in the left */
    border-bottom: 2px solid #213C51;
    /* This creates a dividing line under the header from the main page*/
    color: #213C51;
}

nav {
    background-color: #FAF3E1; 
    padding: 10px;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #213C51; /* This code matches the main text.*/
    padding: 0.5rem;
    display: block;
    /* This codes keeps each links on its own line */
    text-decoration: none;
    /* This removes the underline */
}

nav a:hover {
    background-color: #F5D892; 
    color: #213C51; 
    border-radius: 6px; /* this makes smooth corners */ 
}


main {
    margin: 20px auto;
    /* This centers the main content on the page */
    padding: 0 20px;
    /* Adds side padding for nicer text edges */
    /* I will need to add a background-color here if want to see the box again */
}

h1 {
    color: #213C51;
    text-align: left;
    margin-bottom: 15px;
    /* This code will set the space under the heading */
    border-bottom: 2px solid #213C51; 
    padding-bottom: 5px;
    
}

main img {
    float: right;
    width: 150px;
    /* This sets the profile image width */
    height: auto;
    /* keeps all the proportions correct */
    display: block;
    /* Places the main image on its own line */
    margin: 0 0 1rem 1rem;
    /* This keeps the image to the left */
    border-radius: 10px;
    /* This will make a round corners on the main image */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    /* Adds a soft shadow */
    padding: 0;
    border: none;
    
}

p {
    margin: auto;
    margin-bottom: 10px;

}

aside {
    width: 20em;
    /* This set the width of aside box */
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* This adds a soft border */
    padding: 1em;
    /* This is the space inside the aside box */
    background-color: #E8F4FA;
    /* Background color for the aside */
    color: #213C51;  /*text color*/
    text-align: center;
    border-radius: 12px;
    /* This will make a round corners on the aside */
    position: relative;
}

aside h2 {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.1rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #213C51;
}

aside img {
    width: 200px;
    /* sets the width for required size of aside image */
    height: auto;
    /* This keeps the proportions correct on the page */
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    /* This helps add a soft shadow on the sides */
    margin-bottom: 10px;
    margin-top: 15px;

}

p {
    padding: 0;
    margin-bottom: 10px;
    /* This adds a small space between paragraphs */
}

footer {
    margin-top: 1em;
    /* Adds space above the footer */
    text-decoration: none;
    background-color: #FAF3E1;
    /* body background to blend the footer */
    color: #213C51;
    padding: 0.5rem 0.9rem;
    /* Space inside footer */
    font-size: 1.1rem;
    border-top: 2px solid #213C51;
    /* Creates the top border for separation */
    text-align: center;
   
}

footer a {
    color: red;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.3rem 0.6rem;
    display: inline-block;
    margin: 0 0.3rem;
}

footer a:hover {
    background-color: #F5D892;
    color: #213C51;
    border-radius: 6px;
    padding: 0.2rem 0.4rem; /* This make the hovering when it is highlight look better*/
}



/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 15%);
    background-color: #BFB39B; /* warm color that matches the page background */
    color: #213C51; /* Main text color */
    border-radius: 10px;
}

.box:hover {
  background-color: #F5D892; /* This will change the color of the box when hovering over */
}


ul.box {
    clear: both;
    padding-left: 2rem;
}
ul.box a {
    color: #213C51; /* Main text color */
    text-decoration: none;
    
}

ul.box a:hover {
    text-decoration: underline;
}

header, footer, .grid {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr; /* this moves the main to the left, and the aside on right */
    gap: 20px;
}




