* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8F4FA;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;

}

header {
    background-color: #E8F4FA;
    color: #1A4B73;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2px solid #333;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #333;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333333;
    border-radius: 10px;
    /* Makes the border round */
}

section {
    margin: 20px 0;
    border: 2px solid #333;
    padding: 10px;
    background-color: #E8F4FA;
    font-size: .9rem;
    /* Makes the border round */
    border-radius: 10px;
    /* softer, modern rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    background-color: #E8F4FA;
    color: #1A4B73;
    padding: 10px;
    text-align: center;
    font-size: .9rem;
    border-top: 2px solid #333;
}